.modal {
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: rgba(109, 105, 105, 0.795);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;      
}

.title footer {
    text-align: center;
}


.video {
    width: 100%;
    border: none;
    overflow: hidden;
    margin:7px 0px;
    background-color: black;
    box-sizing: border-box;
    height:315px;
}
