$font-light: #fff;
$font-grey: #a2a2a2;
$font-dark: #0000;

$background-light: rgb(255, 245, 245);
$background-grey-light: #fafafa;
$border-grey: #dbdbdb;
$border-dark: #000;

$action: #2ba6f8;
$danger: #db3341;

